<app-header></app-header>
<router-outlet></router-outlet>

<ul>
    <li *ngFor="let movie of movies">
        {{ movie.id }}
        {{ movie.title }}
        {{ movie.year }}
        {{ movie.rated }}
        {{ movie.released }}
        {{ movie.runtime }}
        {{ movie.genre }}
        {{ movie.director }}
        {{ movie.writers }}
        {{ movie.actors }}
        {{ movie.plot }}
        {{ movie.language }}
        {{ movie.country }}
        {{ movie.awards }}
        {{ movie.status }}
    </li>
</ul>