<div class="container">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Movie</label>
      <select id="country" name="country">
        <option value="avatar">Avatar</option>
        <option value="i am a legend">I am a Legend</option>
        <option value="300">300</option>
      </select>
      
      <label for="seats">Seats</label>
      <input type="text" id="seats" name="seats" placeholder="Number of seats..">
  
      <input type="submit" value="Reserv">
    </form>
  </div>