<div class="card">
  <img src="https://3.bp.blogspot.com/_RRYNK-caPgI/SnUnXG0X90I/AAAAAAAAACE/G5dLSn2KlI4/s1600/Avatar+Poster.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Avatar</h1>
  <p class="disponib">Available</p>
  <p>Año 2009; Realeased: 18 Dec 2009</p>
  <p>Runtime: 162min; Rated: PG-13</p>
  <p>Genre: Accion, Aventura</p>
  <p>Director: James Cameron; Escritor: James Cameron/p>
  <p>Language: English, Spanish</p>
  <p>Country: USA, UK</p>
  <p>Awards: Won 3 Oscars. Another 80 wins & 121 nominations.</p>
  <p>Plot: A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</p>
  <p><button>RESERVAR</button></p>
</div>