<div class="container">
  <img src="https://3.bp.blogspot.com/_RRYNK-caPgI/SnUnXG0X90I/AAAAAAAAACE/G5dLSn2KlI4/s1600/Avatar+Poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Avatar</div>
    <p>Genre:Action, Adventure, Fantasy</p>
    <p>Language: English, Spanish</p>
  </div>
</div>

<div class="container">
  <img src= "https://upload.wikimedia.org/wikipedia/en/d/df/I_am_legend_teaser.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">I am a Legend</div>
    <p>Genre:Drama, Horror, Sci-Fi</p>
    <p>Language: English</p>
  </div>
</div>

<div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/en/5/5c/300poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">300</div>
    <p>Genre:Action, Drama, Fantasy</p>
    <p>Language: English</p>
  </div>
</div>
  
  <div class="container">
  <img src= "https://upload.wikimedia.org/wikipedia/en/f/f9/TheAvengers2012Poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">The Avengers</div>
    <p>Genre: Action, Sci-Fi, Thriller</p>
    <p>Language: English, Russian</p>
  </div>
</div>

 <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/en/b/bc/Interstellar_film_poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Interstellar</div>
    <p>Genre: Adeventur, Drama, Sci-Fi</p>
    <p>Language: English</p>
  </div>
</div>

 <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/en/c/c7/Doctor_Strange_poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Doctor Strange</div>
    <p>Genre: Action, Adeventure, Fantasy</p>
    <p>Language: English</p>
  </div>
</div>

 <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/en/c/c7/Doctor_Strange_poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Rogue One: A Star Wars Story</div>
    <p>Genre: Action, Adeventure, Sci-Fi</p>
    <p>Language: English</p>
  </div>
</div>

 <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Assassin%27s_Creed_film_poster.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Assassin's Creed</div>
    <p>Genre: Action, Adeventure, Fantasy</p>
    <p>Language: English</p>
  </div>
</div>